$r:20;
$col:red;
*{
    margin: 0;
    padding: 0;
}
.aa{
    width: 100%;
    height: 96/$r+rem;
    background: $col;
};
.bb{
    width: 100%;
    height: 96/$r+rem;
    overflow: hidden;
    white-space: nowrap;    
    font-size: 0;
// display: flex;
}
.a2{
    width: 320/$r+rem;
    height: 100%;
//  justify-content: flex-start;
    
    float: left;
}
